/*hide search bars but show them to visually impaired*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-button {
  margin-left: 4px;
}

.collect-pagination {
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-row-image {
  width: 60px;
}

.MuiGrid-root {
  margin-top: 10px !important;
  /* margin-left: 10px !important; */
  /* margin-right: 10px; */
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MuiGrid-item {
  margin-left: 10px;
  margin-right: 10px;
}

.real-item-details {
  padding-left: 10px;
  padding-right: 10px;
}